body{
	min-width: 250px;
	background: #EEE;
}

div#showColors{
	width: 250px;
	border-radius: 10px;
	overflow: hidden;
}

div.colorItem{
	font-family: 'Karla', sans-serif;
	width: 230px;
	vertical-align: middle;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
}