body{
	min-width: 250px;
	background: #EEE;
}

#header{
	display: none;
	width: 250px;
	height: 30px;
}

#showColors{
	width: 250px;
	border-radius: 10px;
	overflow: hidden;
}

.colorItem{
	width: 230px;
	height: 20px;
	vertical-align: middle;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
}

.colorTxt{
	font-family: 'Karla', sans-serif;
	float: left;
}

.copied{
	font-family: 'Cantora One', sans-serif;
	float: right;
	display: none;
	opacity: 0;
}

#errorArea{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

#errorTitle{
}

#errorEng{
}

#errorJpn{
}